@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;  
    --fonte2:'Passion One', cursive;
    --fonte3:'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html,body{
    min-height: 100%;
    background-color: darkgray;
    font-family: var(--fonte1);

}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px;
    /*text-transform: uppercase;/*deixa tudo em letra maiuscula*/

    font-variant: small-caps;/*todas elas ficam em formato maiusculo mas a primeira letra fica maior*/
    font-family: var(--fonte2);
    font-size: 10vw;/*conforme o tamanho do aparelho ele vai se adequando com o tamanho de fonte*/
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;/*espaçamento entre as frases*/
    padding-left: 30px ;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}/*para fazer o efeito com as imagens*/

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(27, 27, 27);
    color: white;
}

section.imagem>p{
    display: inline-block;/*caixa que se adapta ao tamanho do conteudo*/
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.226);
   

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}