@charset "UTF-8";


* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

body{
     background-image: linear-gradient(to right,#3A8DE0,#34caf7);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(21, 83, 102, 0.678);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{

color:  #3462F7;
text-align: center;
text-shadow:1px 1px 2px  rgba(27, 50, 126, 0.63);

}

h2{
    color:#32EDE7;
}
p {
    text-align: justify;
}

